version: "3.9"

services:
  web:
    build: .
    env_file:
      - .env.development
    command: sh -c "
      python manage.py makemigrations coresettings accounts &&
      python manage.py migrate &&
      python manage.py api_access &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  redis_data:
