@import "tailwindcss";
@import "./assets/themes/light.scss";
@import "./assets/themes/dark.scss";




/* html {
    font-size: calc(100vw / 393 * 16);
} */




body {
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
}

.bg-primary {
    background-color: var(--accent-color) !important;
}

.text-primary {
    color: var(--accent-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-bg-color) !important;
}

.text-secondary {
    color: var(--secondary-text-color) !important;
}

.card {
    background: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.btn-primary {
    background: var(--accent-color);
    color: var(--primary-bg-color);
    transition: var(--transition-duration);
}

.btn-primary:hover {
    background: var(--hover-accent-color);
}