:root[data-theme="dark"] {
    --primary-bg-color: #141e14;
    --secondary-bg-color: #1f2e1f;
    --primary-text-color: #9dbe9f;
    --secondary-text-color: #3d5c3f;
    --accent-color: #4CAF50;
    --hover-accent-color: #4CAF50;
    --button-danger: #f44336;
    --order-color: #1890ff;
    --pickup-color: #fa8c16;
    --delivered-color: #52c41a;
    --feedback-color: #722ed1;
    --header-padding: 10px 20px;
    --sidebar-width: 250px;
    --icon-size: 20px;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --border-color: "#3d5c3f";
}