/*:root[data-theme="light"] {
    --primary-bg-color: #1a1a2e;
    --secondary-bg-color: #162447;
    --primary-text-color: #ffffff;
    --secondary-text-color: #676767;
    --accent-color: #4CAF50;
}*/




:root[data-theme="light"] {
    --primary-bg-color: #f6f8f6;
    --secondary-bg-color: #162447;
    --primary-text-color: #ffffff;
    --secondary-text-color: #676767;
    --accent-color: #4CAF50;
    --hover-accent-color: #4CAF50;
    --button-danger: #f44336;
    --order-color: #1890ff;
    --pickup-color: #fa8c16;
    --delivered-color: #52c41a;
    --feedback-color: #722ed1;
    --header-padding: 10px 20px;
    --sidebar-width: 250px;
    --icon-size: 20px;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
}